.page-connexion{
    
    .outer-connexion{
        position:absolute;
        top:0;
        bottom:0;
        left:0;
        right:0;
        background-image: url('./img/land_lake.jpg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        background-color: $blue;
        background-blend-mode: multiply;

        .inner-connexion{
            background-color: $blue-2;
            position:absolute;
            top:50%;
            left:50%;
            transform: translate(-50%,-50%);
            width:650px;
            height:600px;
            border-radius:35px;
            box-shadow: 0 11px 34px 0 rgb(0 0 0 / 20%);
            padding: 20px;
          
            .container-connexion, .container-inscription{
                padding:70px;
                display:flex;
                flex-direction: column;
                align-items: center;

                .img-container{
                    img{
                        width:100px; 
                    }
                }
                .info-container{
                    font-family: Arial, Helvetica, sans-serif;
                    font-size:28px;
                    font-weight:800;
                    line-height: 36px;
                    margin-block-start: 37px;
                    text-align: center;
                }

                .form-container{
                    width:100%;
                
                    .form-elem{
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        margin:20px 0;
                        input{
                            border: 1px solid #d6d6d6;
                            height: 2.6em;
                            border-radius: 6px;
                            font-size: 17px;
                            line-height: 1.29412;
                            font-weight: 400;
                            letter-spacing: -.021em;
                            font-family: Arial, Helvetica, sans-serif;
                            width: 70%;
                            padding-left: 10px;
                            background-color: $grey-2;
                        }
                        .btn-1{
                            margin-top:20px;
                        }
                    }
                }
            }
        }
    }

}