.cart-dropdown-container {
  padding: 10px;
  width: 100%;
  background-color: white;
  border: none;
  display: flex;
  justify-content: flex-end;

  .cart-dropdown {
    width: 240px;
    height: 340px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: white;
  }

  .empty-message {
    font-size: 18px;
    margin: 50px auto;
  }

  .cart-items {
    height: 240px;
    display: flex;
    flex-direction: column;
    overflow: scroll;
  }

  &.no-cart-items {
    padding: 5px;
    width: 240px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    p {
      text-align: center;
      font-weight: bold;
      font-size: 18px;
      line-height: 1.5;
    }
  }

  button {
    margin-top: auto;
  }
}