.categories-container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 10px 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 18px;
  justify-content: space-between;
  align-items: center;

  &__no-category {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    

    h2 {
      font-size: 28px;
      margin-bottom: 25px;
    }

    p {
      font-size: 16px;
    }

    .no-category__icon-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 200px;
      height: 200px;
      border-radius: 50%;
      background-color: #4a4a4a;
   
      margin-bottom: 25px;

      svg {
        width: 75%;
        height: 75%;
        font-size: 45px;
        color: #fafafa;
      }
    }
  }

  @include media-breakpoint-up(sm) {
    padding: 50px 20px;
    flex-direction: row;
    align-items: center;
    column-gap: 18px;
  }
}

.category-title-container {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
  padding: 5px 20px;

  @include media-breakpoint-down(sm) {
    h1, h2, h3, h4, .category-title {
      text-align: center;
    }
  }
}

.indice-container {
  border-bottom: 1px solid $tertiary;
  max-width: 1440px;
  margin: 5px auto;
  padding: 5px 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .category-text {
    color: $tertiary;
    font-weight: 600;
    .points {
      color: $primary;
      font-weight: 600;
    }
  }
}

.container-center-child {
  @extend .category-title-container;
  padding: 0;
  display: flex;
 
  &--row {
    justify-content: center;
    gap: 20px;
  }

  &--column {
    flex-direction: column;
    align-items: center; 
    gap: 20px;
  }
}

.products-container {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
  padding: 5px 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 10px;
  row-gap: 50px;
  z-index: $z-index-products;

  @include media-breakpoint-down(md) {
    max-width: 324px;
    width: 100%;
    grid-template-columns: auto;
  }
}

.category-container {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
  padding: 5px 20px;
  display:grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  row-gap:50px;

  &--empty {
    .title {
      text-align: center;
    }
  }
}

.category-preview-container {
  max-width: 1440px;
  margin: 30px auto;
  display: flex;
  flex-direction: column;

  @include media-breakpoint-down(md) {
    h1, h2, h3, h4 {
      text-align: center;
    }
  }

  .title {
    padding: 0 5px;
    color: #262c28;
    text-decoration: none;
    font-size: 28px;
    margin-bottom: 25px;
    cursor: pointer;


    &:focus {
      color: lighten(#262c28, 25%);
    }

    &:active {
      color:  lighten(#262c28, 25%);
    }

    &:hover {
      color: lighten(#262c28, 25%);
    }
  }

  .preview {
    padding: 0 5px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;

    @include media-breakpoint-down(md) {
      max-width: 90%;
      margin: 0 auto;
      display: grid;
      grid-template-columns: 1fr;
      row-gap: 40px;
    }
  }

  &__no-category {
    display: none;

    &:nth-of-type(1) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .no-category__title {
        text-align: center;
      }
    }
  
  }
}

.category-food-wrapper {
  min-height: calc(100vh - ( var(--header-height) + var(--header-margin-bottom)));
}

.upload-container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 70px 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 18px;
  justify-content: space-between;
  align-items: center;
}