.categories-container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 10px 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 18px;
  justify-content: space-between;
  align-items: center;

  &__no-category {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    

    h2 {
      font-size: 28px;
      margin-bottom: 25px;
    }

    p {
      font-size: 16px;
    }

    .no-category__icon-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 200px;
      height: 200px;
      border-radius: 50%;
      background-color: #4a4a4a;
   
      margin-bottom: 25px;

      svg {
        width: 75%;
        height: 75%;
        font-size: 45px;
        color: #fafafa;
      }
    }
  }

  @include media-breakpoint-up(sm) {
    padding: 50px 20px;
    flex-direction: row;
    align-items: center;
    column-gap: 18px;
  }
}

.products-container {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
  padding: 5px 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 10px;
  row-gap: 50px;
  z-index: $z-index-products;
}

.category-container {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
  padding: 5px 20px;
  display:grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  row-gap:50px;
}

.category-preview-container {
  max-width: 1440px;
  margin: 30px auto;
  display: flex;
  flex-direction: column;

  .title {
    font-size: 28px;
    margin-bottom: 25px;
    cursor: pointer;
  }

  .preview {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
  }
}
