.product-card-container {
  width: 100%;
  height: 350px;
  position: relative;

  &__product-img {
    position: relative;
    width: 100%;
    height: 95%;
    object-fit: cover;
    margin-bottom: 5px;

    @include media-breakpoint-down(md) {
      width: 324px;
    }
  }

  button {
    width: 80%;
    opacity: 0.7;
    position: absolute;
    right: 50%;
    left: 50%;
    transform: translateX(-50%);
    top: 255px;
    text-align: center;
    display: none;
  }

  &:hover {
    img {
      opacity: 0.8;
    }

    button {
      opacity: 0.85;
      display: flex;
    }
  }

  .footer {
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: space-between;
    font-size: 18px;

    .product-name {
      max-width: 90%;
      margin-bottom: 15px;
    }

    .price-wait  {
      color: red;
    }
  }
}