.output-message { 
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 20px 30px;
    border: 1px solid white;
    border-radius: 10px;
    color: white;
    background-color:hsla(190, 100%, 35%, 1);
}

.x-center-position {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}