// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

//
// Make all elements from the DOM inherit from the parent box-sizing
// Since `*` has a specificity of 0, it does not override the `html` value
// making all elements inheriting from the root box-sizing value
// See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
//
*,
*::before,
*::after {
  box-sizing: inherit;
}

// Scroll bar
* {
	scrollbar-width: 0;
}

*::-webkit-scrollbar {
	background-color: transparent;
	width: 12px;
}

*::-webkit-scrollbar-thumb {
	border-radius: 99px;
	background-color: $tertiary;
	border: 1px solid #fafafa;
}

//Set up a decent box model on the root element
html {
  box-sizing: border-box;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: var(--header-height);
  overflow-x: hidden;
  background-color: $white;
  color: $black;

  &.menu-opened,
  &.has-modal,
  &.modal-active {
    overflow: hidden;
  }

  &.has-modal {
    padding-right: var(--scrollbarWidth);
  }
}

.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}


