* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    //font-family: 'Orkney', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  a {
    text-decoration: none;
    color: $gray;
  }
  
li {
    list-style: none;
  }

  .wrapper-front,.layout-front-wrapper{
    height:calc(100% - 47px);
}

