// -----------------------------------------------------------------------------
// Basic typography style for text.
// -----------------------------------------------------------------------------

html {
  font-size: var(--font-level-16);
}

body {
  font-family: $font-montserrat;
  font-size: 100%;
  font-weight: $fw-light;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-title);
}

// Basic styles for links
a {
  //color: makeCSSVariables('primary');
  text-decoration: none;

  @include on-event {
    //color: makeCSSVariables('primary-darken');
    text-decoration: underline;
  }
}

// Foodcare original titles
.category-title {
  font-size:38px;
  margin-bottom:25px;
  text-align: center;
}

.category-text {
  grid-column: 1 / span 4;
  font-size:24px;
  margin:15px 0;
  text-align: center;
}


.pre-title {
  position: relative;
  margin-bottom: 20px;
  padding-bottom: 6px;
  color: $black;
  font-family: $font-pretitle;
  font-size: 30px;
  line-height: 1.2;

  &::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 75px;
    height: 5px;
    border-radius: 100px;
    background-color: $primary-08;
  }

  &--light {
    color: $white;


    &::after {
      content: '';
      background-color: $white;
    }
  }

  &--no-line {
    &::after {
      content: none;
      background-color: transparent;
    }
  }

  &--centered {
    text-align: center;
    &::after {
      content: '';
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.title {
  color: $black;
  font-family: $font-title;
  font-size: 30px;
  font-weight: $fw-bold;
  line-height: 1.2;

  @include media-breakpoint-up(md) {
    font-size: 26px;
  }

  @include media-breakpoint-up(lg) {
    font-size: 30px;
  }

  @include media-breakpoint-up(xl) {
    font-size: 35px;
  }

  &--light {
    color: $white;
  }

  &--secondary {
    color: $secondary;
  }
}


p {
  color: $black;
  font-size: 18px;
  font-weight: $fw-light;
  line-height: 1.22;

  @include media-breakpoint-only(md) {
    font-size: 20px;
  }
}

.els-text {
  font-family: $font-montserrat;
  color: $black;
  font-size: 16px;
  font-weight: $fw-light;

  &--light {
    color: $white;
  }

  &--blue {
    color: $primary;
  }

  &--centered {
    text-align: center;
  }
}

.els-text-xs {
  @extend .els-text;
  font-size: 16px;
  line-height: 1.22;

  @include media-breakpoint-only(md) {
    font-size: 16px;
  }
}

.els-text-lg {
  @extend  .els-text;
  font-size: 18px;
  line-height: 1.5;
}


.els-text-link {
  margin: 0;
  transition: color 200ms ease-in-out;
  color: $gray-700;
  font-size: 15px;
  font-weight: $fw-light;

  @include on-event {
    color: $black;
    text-decoration: none;
  }
}

ul.els-list {
  list-style: none;
  margin-top: 30px;
  padding-left: 32px;

  li {
    position: relative;
    padding-bottom: 8px;
    font-size: 18px;
    color: $gray-500;

    &::before {
      content: '';
      position: absolute;
      left: -32px;
      top: 6px;
      width: 11px;
      height: 11px;
      background-color: $primary;
      border-radius: 100px;
    }

  }

  &--light {

    li {
      color: $white;

      &::before {
        content: '';
        background-color: $white;
      }
    }
  }
}


.text-nowrap {
  white-space: nowrap;
}
