$orange-1 : #e81212;
$orange-2 : #78d302f5;
$orange-3 : #4c5e0f;
$orange-4 : #4a4b35;
$grey : rgb(67, 67, 65);
$grey-2:#e4e4e7;
$light: #f5f5f7;
$blue : hsl(210, 35%, 27%);
$blue-2: rgba(78, 120, 162,0.9);
$SF-PRO-DISPLAY-MEDIUM: 'Arial';
$SF-PRO-DISPLAY-REGULAR: 'Arial';