$orange-1 : #e81212;
$orange-2 : #78d302f5;
$orange-3 : #4c5e0f;
$orange-4 : #4a4b35;
$grey : rgb(67, 67, 65);
$grey-2:#e4e4e7;
$light: #f5f5f7;
$blue : hsl(210, 35%, 27%);
$blue-2: rgba(78, 120, 162,0.9);
$SF-PRO-DISPLAY-MEDIUM: 'Arial';
$SF-PRO-DISPLAY-REGULAR: 'Arial';

/* z index scale */
$z-least: -9999;
$z-less-xl: -1000;
$z-less-lg: -100;
$z-base: 1;
$z-more-lg: 100;
$z-more-xl: 1000;
$z-toppest: 9999;

/* Rouded corners */
$round: 2px;
$round-xxs: 4px;
$round-xs: 8px;
$round-sm: 10px;
$round-md: 15px;
$round-lg: 20px;
$round-xl: 25px;
$round-xxl: 30px;
$round-circle: 50%;
$round-pill: 500px;

/* Breakpoints */
$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        xxl: 1440px,
        fhd: 1900px
);

$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1140px,
        xxl: 1320px,
        fhd: 1440px
);

/* Spacings */
$spacing: 10px;

/* General Colors */
$darkpink: #A3298B;
$darkLavender: #A6A8C9;
$darkLavender-80: rgba(166, 168, 201,80%);
$darkBlue : #161C3D;
$mediumBlue: hsl(210, 35%, 27%);
$light: #f5f5f7;
$lightLavender : #F2F3F7;
$lightLavender-80 : rgba(242, 243, 247,80%);

/* greys */
$grey : rgb(67, 67, 65);
$grey-2:#e4e4e7;

/* Semantic colors */
$warning : #de392a;
$success : #00ff00;
$success-darker : #4c5e0f;
$danger-2 : #e81212;
$success-2 : #78d302f5;
$required-star-color: #de392a;
$blue-2: rgba(78, 120, 162,0.9);

/* Text colors */
$dark-text-color : #03045e;
$white-text-color : #fff;

/* Buttons colors */
$btn-border-color: #03045e;
$btn-bg-color: hsla(240, 2%, 38%, 0.216);
$btn-hover-bg-color: #03045e;
$btn-text-color: #03045e;
$btn-text-hover-color: #fff;

/* Table colors */
$table-header-color: #03045e;
$table-row-hover-color: #508AA8;
$table-text-hover-color: #fff;
$table-border-color: #03045e;

/* forms colors */
$textarea-focus-bg-color: rgba(3, 4, 94, 0.1);
$form-field-bg-color: rgba(3, 4, 94, 0.1);
$from-field-border-color: #03045e;
$required-star-color: #ff0000;
$input-border-bottom: #508AA8;

$input-border: #8b8a8b;
$input-focus-h: 245;
$input-focus-s: 100%;
$input-focus-l: 42%;

/* modal colors */
$modal-container-color: rgba(3, 4, 94, 0.5);
$modal-bg-color: #fff;
$icon-close-color-hover: #ff0000;
$icon-close-color: rgb(3, 4, 94);
$box-shadow-color: rgba(0, 0, 0, 0.2);